@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 213 40% 11%;
    --card: 0 0% 100%;
    --card-foreground: 213 40% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 40% 11%;
    --primary: 213 80% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 96%;
    --secondary-foreground: 213 40% 11%;
    --muted: 210 25% 94%;
    --muted-foreground: 213 14% 45%;
    --accent: 199 95% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 22% 90%;
    --input: 214 22% 90%;
    --ring: 199 95% 44%;
    --chart-1: 213 80% 22%;
    --chart-2: 199 95% 44%;
    --chart-3: 213 40% 11%;
    --chart-4: 210 30% 96%;
    --chart-5: 214 22% 90%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 213 80% 22%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 30% 96%;
    --sidebar-accent-foreground: 213 40% 11%;
    --sidebar-border: 214 22% 90%;
    --sidebar-ring: 213 80% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
